language: cpp
dist: bionic
sudo: false
addons:
  apt:
    packages:
      - libsdl2-dev
script:
  - cmake $COMPONENT && make $TARGET
compiler:
  - clang
  - gcc
os:
  - linux
  #- osx
env:
  - COMPONENT=examples/minimal TARGET=minimal
  - COMPONENT=examples/rendering-kit-demo TARGET=rendering-kit-demo
  - COMPONENT=examples/ContainerHelloWorld TARGET=ContainerHelloWorld
  - COMPONENT=ntile TARGET=ntile
  - COMPONENT=tools/mapcompiler TARGET=mapcompiler
  - COMPONENT=WorldCraft TARGET=worldcraft2

matrix:
  allow_failures:
    # GCC+ASAN on Travis is broken beyond repair
    #- compiler: gcc

    # OS X port hasn't been touched in years
    - os: osx
