language: cpp
dist: bionic
addons:
  apt:
    packages:
      - libsdl2-dev

os: linux
compiler: gcc

jobs:
  include:
    - name: minimal
      script: |
        cmake examples/minimal && make minimal
        ./minimal
    - name: examples/rendering-kit-demo
      script: cmake examples/rendering-kit-demo && make rendering-kit-demo
    - name: examples/Container3DScene
      script: cmake examples/Container3DScene && make Container3DScene
    - name: examples/ContainerDeferredShading
      script: cmake examples/ContainerDeferredShading && make ContainerDeferredShading
    - name: examples/ContainerHelloWorld
      script: cmake examples/ContainerHelloWorld && make ContainerHelloWorld
    - name: examples/ContainerMapView
      script: cmake examples/ContainerMapView && make ContainerMapView
    - name: Lanthaia
      script: cmake Lanthaia && make Lanthaia
    - name: ntile
      script: cmake ntile && make ntile
    - name: tools/mapcompiler
      script: cmake tools/mapcompiler && make mapcompiler
    - name: WorldCraft
      script: cmake WorldCraft && make worldcraft2

  allow_failures:
    # GCC+ASAN on Travis is broken beyond repair
    #- compiler: gcc

    # OS X port hasn't been touched in years
    - os: osx
